@model AntAICompetition.Server.Game

@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Running)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Running)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeToNextTurn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeToNextTurn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
